*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/markdown-navigator.xml
/.idea/markdown-navigator-enh.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/compiler.xml
